# Base de datos Aurora PostgreSQL
DB_HOST: database-1.cmezdivkaour.us-east-1.rds.amazonaws.com
DB_NAME: postgres
DB_USER: postgres
DB_PASS: Clave$$$123
DB_PORT=5432

# JWT (opcional, integración futura Cognito)
JWT_SECRET=changeme
JWT_ALGORITHM=HS256

# AWS
AWS_REGION=us-east-1
